body{
    background-image: url(BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;

}
h1{
     color: goldenrod;
}
.wrapper{
    display: flex;
align-items: center;
justify-content: center;

}

#userVal1,#userVal2{
    border-radius: 40px;
}
#safe{
    background-color: rgba(75, 200, 173, 0.6);
    border: 1px solid black;
    box-shadow:  10px 10px;
    width: fit-content;
    position:relative;
}
a:hover{
    color: aquamarine;
}

a:visited{
    color: blueviolet;
}

#userVal1, #userVal2{
    align-items: right;
    padding:5px 50px;
}

#fav{
    font-size: 20px;
}
#some{
    font: 25px;
    color: white;
    justify-content: center;
    background-color:maroon;
    font-size: medium;
}
